body {
    background-color: rgb(77, 65, 65);
}

img {
    width: 360px;
    height: auto;
}


h1.header {
    font-size: 48px;
    color:darkkhaki;
}

.meals {
    color:cadetblue;
    font-size: 32px;
}

.recipe-page {
    color:blanchedalmond;
    font-size: large;
}

.recipe-page.h3 {
    color:burlywood;
    font-size: 28px;
}

.recipe-page.h1 {
    font-size: 36px;
    color:aquamarine;
}