body {
    background-color: rgb(77, 65, 65);
}

img {
    width: 360px;
    height: auto;
}


h1.header {
    font-size: 48px;
    color:darkkhaki;
    text-align: center;
}

.meals {
    color:cadetblue;
    font-size: 32px;
}

.recipe-page {
    color:blanchedalmond;
    font-size: large;
}

.recipe-page.h3 {
    color:burlywood;
    font-size: 28px;
}

.recipe-page.h1 {
    font-size: 36px;
    color:aquamarine;
}


.meals-container {
    border: 4px solid yellowgreen;
    margin: 70px 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.meals-container .meals {
    border: 4px solid red;
    padding: 16px;
    flex: 1;
}