body {
    background-color: black;
}

p {
    text-align: center;
    
}

.title {
    color:orange;
    font-size: 46px;
}

.normal {
    color: #ed66ff;
    font-size: 32px;
}

.poetry {
    color: #3399ff;
    font-size: 32px;
}

.heart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: auto;
}